<section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
  <h2 class="text-center">
    Create A New Author
  </h2>
  <div class="container signup_border">
    <div class="row gy-4 justify-content-center">
      <%= image_tag("authors.jpg", class:"col-lg-6 new-image-container") %>
      <div class="col-lg-6 content p-4">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</section>
